<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  Judul= <textarea></textarea><br>
  Isi Note= <Textarea></Textarea><br>
  Tanggal = <Textarea></Textarea><br>
  Nilai notes = <Textarea></Textarea><br>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="TambahFoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
